<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finanzenroom">

    <application
        android:name=".TransactionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="Instantiatable">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Alle Klassen, zu denen man wechseln kann
        <activity android:name=".NeuerEintragActivity"
            android:parentActivityName=".MainActivity"/> //ParentActivity für den Back Button in der Leiste oben
        <activity android:name=".changeEntry"
            android:parentActivityName=".MainActivity"/> //ParentActivity für den Back Button in der Leiste oben>
        <activity android:name=".Stats"
            android:parentActivityName=".MainActivity"/> //ParentActivity für den Back Button in der Leiste oben
        <activity android:name=".Settings"
            android:parentActivityName=".MainActivity"/> //ParentActivity für den Back Button in der Leiste oben

</application>

</manifest>